.unused/

.vscode/

*.Rproj
.Rproj.user/
.RData
.Rhistory

dss/
data collecting/
2022_SOCI32100_datascienceandsociology/*.Rmd
2022_SOCI32100_datascienceandsociology/*.html
2022_SOCI32100_datascienceandsociology/*.png
2022_SOCI32100_datascienceandsociology/*.jpeg
2022_SOCI32100_datascienceandsociology/*.xls
2022_SOCI32100_datascienceandsociology/*.csv
2022_SOCI32100_datascienceandsociology/*.txt

work/
db/
incremental_db/
output_files/
*.mti
*.mpf
*.v.bak
*.qpf
*.qsf
*.qws
*.wlf

2023AI/
__pycache__/

2023DS/
